* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, serif;
    font-size: 12px;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("{#asset ./images/cover-bg.jpg @encoding=dataURI}") no-repeat center 35%;
    background-size: auto 90%;
    height: 100%;
}

.cover-logo {
    display: inline-block;
    background-color: #333;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
}

.cover-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 550px;
    background-color: #1F2C38;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 10%);
}

.cover-header:before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: #327699;
    top: 0;
    right: 0;
    width: 75%;
    height: 60%;
    clip-path: polygon(11% 28%, 100% 81%, 100% 100%, 0 51%);
}

.cover-header-content {
    z-index: 4;
    width: 200px;
    margin-top: 4%;
    margin-right: 10%;
    text-align: center;
}

.cover-header-description {
    font-size: 12px;
    text-align: center;
	white-space: nowrap;
    color: #fff;
    padding-top: 2px;
	width: 100%;
}

.cover-footer {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 800px;
}

.cover-footer:before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 3;
    bottom: 0;
    width: 100%;
    height: 76%;
    background-color: #327699;
    clip-path: polygon(0 0, 30% 22%, 0 21%, 0 26%);
    clip-path: polygon(2% 0, 30% 22%, 0 31%, 0 0);
    clip-path: polygon(29% 24%, 0 24%, 0 0);
}

.cover-footer:after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 10px;
    width: 100%;
    height: 100%;
    background-color: #327699;
    clip-path: polygon(34% 41%, 100% 75%, 100% 100%, 22% 56%);
}

.cover-footer-bg {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #1F2C38;
    clip-path: polygon(0 30%, 100% 82%, 100% 100%, 0 100%);
}

.cover-footer-content {
    font-size: 50px;
    z-index: 4;
    margin-left: 6%;
    margin-bottom: 8%;
}

.cover-footer-title-primary {
    color: #fff;
}

.cover-footer-title-secondary {
    color: #32AABA;
	font-size: 36px;
}
.cover-footer-title-tertiary {
    color: #32AABA;
	font-size: 24px;
}
.cover-footer-printed {
    color: #32AABA;
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-align: right;
	font-size: 12px;
}
