<html>
    <head>
        <style>
            {#asset ./css/cover.css @encoding=utf8}
        </style>
    </head>
    <body>
        <main class="cover">
            {{{pdfAddPageItem pageBeforeTOC=true}}}
            <div class="cover-header">
                <div class="cover-header-content">
                    <div>
                        <div class="cover-logo">
                            <img src="{#asset ./images/logo.png @encoding=dataURI}"/>
                        </div>
                    </div>
                    <div class="cover-header-description">
                        Space Physics Archive Search and Extract
                    </div>
                </div>
            </div>
            <div class="cover-footer">
                <div class="cover-footer-square"></div>
                <div class="cover-footer-bg"></div>
                <div class="cover-footer-content">
                    <span class="cover-footer-title-primary">{{data.name}}</span>
                    <br/>
                    <span class="cover-footer-title-primary">Version: {{data.version}}</span>
                    <br/>
                    <span class="cover-footer-title-secondary">Released: {{data.released}}</span>
                    <span class="cover-footer-printed">Printed: {{now}}</span>
                </div>
            </div>
        </main>
    </body>
</html>
