* {
    box-sizing: border-box;
}
html, body {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 2em;
	margin-right: 2em;
	font-family: Arial, serif;
	font-size: 120%;
}
table {
	font-size: inherit;
}
th, td {
	vertical-align: top;
}
.full-center {
	max-width: 100%;
	text-align:center;
}
.indent {
	margin-left: 2em;
}
.bold {
	font-weight: bold;
}
.top-pad {
	padding-top: 12px;
}
.left-pad {
	padding-left: 24px;
}
.whitespace {
	white-space: pre;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.chapter {
	margin-top: 36px;
	margin-bottom: 24px;
	margin-left: 30px;
	margin-right: 30px;	
}
.section {
    padding-bottom: 15px;
}
